<%- model_class = Influencer -%>
<div class="page-header">
  <h1><%=t '.title', :default => Influencer %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @influencers.each do |influencer| %>
      <tr>
        <td><%= influencer.id %></td>
        <td><%= influencer.first_name %></td>
        <td><%= influencer.last_name %></td>
        <td><%= influencer.email %></td>
        <td><%= influencer.phone %></td>
        <td><%=l influencer.created_at, format: :long %></td>
        <td>
          <%= link_to influencer_path(influencer), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to influencer_path(influencer), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_influencer_path,
            :class => 'btn btn-primary' %>
