<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @influencer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @influencer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @influencer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @influencer.phone %>
</p>

<%= link_to 'Edit', edit_influencer_path(@influencer) %> |
<%= link_to 'Back', influencers_path %>
